* {
    margin: 0px;
}

body {
    height: 8400px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.calcFrame {
    border: 0px solid red;
    height: 800px;
    width: 400px;
    background-color: skyblue;
    padding: 20px;
}

.calcFrame #dateMainView {
    height: 300px;
}

.calcFrame #title {
    height: 60px;
    background-color: blueviolet;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.calcFrame #dateCalcForm {
    background-color: white;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
}

.calcFrame #circle_frame {
    margin-top: 30px;
    border-radius: 120px;
    width: 100px;
    height: 100px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
    text-align: center;
}

.calcFrame #text_frame {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.calcFrame #dateSpace {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    height: 150px;
}

.calcFrame #dateCalcForm {
    padding: 40px;
    color: black;
    text-align: center;
}

.calcFrame #dateCalcForm li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid purple;
    opacity: 0.8;
}